<?php

declare(strict_types=1);

namespace {{ php_namespace }}\Domain;

final readonly class {{ aggregate_name }}
{
    private function __construct(
        public string $id,
        public string $name,
    ) {
    }

    public static function create(string $id, string $name): self
    {
        if ($id === '') {
            throw new \InvalidArgumentException('Aggregate id cannot be empty.');
        }

        if ($name === '') {
            throw new \InvalidArgumentException('Aggregate name cannot be empty.');
        }

        return new self($id, $name);
    }
}
