<?php

declare(strict_types=1);

namespace {{ php_namespace }}\Domain\Events;

final class {{ aggregate_name }}Created
{
    public function __construct(
        public readonly string $aggregateId,
        public readonly string $name,
    ) {
    }
}
