from __future__ import annotations

from dataclasses import dataclass

from ...domain.entities.{{ entity_name | lower }} import {{ entity_name }}
from ..ports.{{ repository_name | lower }} import {{ repository_name }}


@dataclass(frozen=True)
class {{ use_case_name }}Command:
    entity_id: str
    name: str


class {{ use_case_name }}:
    def __init__(self, repository: {{ repository_name }}) -> None:
        self._repository = repository

    def execute(self, command: {{ use_case_name }}Command) -> {{ entity_name }}:
        entity = {{ entity_name }}.create(command.entity_id, command.name)
        self._repository.save(entity)
        return entity
