from __future__ import annotations

from dataclasses import dataclass, field

from ..events.{{ event_name | lower }} import {{ event_name }}
from ..exceptions.{{ entity_name | lower }}validationerror import (
    {{ entity_name }}ValidationError,
)


@dataclass
class {{ entity_name }}:
    entity_id: str
    name: str
    _events: list[{{ event_name }}] = field(
        default_factory=list,
        init=False,
        repr=False,
    )

    @classmethod
    def create(cls, entity_id: str, name: str) -> "{{ entity_name }}":
        if not entity_id:
            raise {{ entity_name }}ValidationError("Entity id cannot be empty")
        if not name:
            raise {{ entity_name }}ValidationError("Entity name cannot be empty")

        entity = cls(entity_id=entity_id, name=name)
        entity._events.append({{ event_name }}(entity_id=entity_id, name=name))
        return entity

    def pull_events(self) -> tuple[{{ event_name }}, ...]:
        events = tuple(self._events)
        self._events.clear()
        return events
