import { {{ use_case_name }}, {{ use_case_name }}Command } from "../../application/use_cases/{{ use_case_name }}";

export class {{ controller_name }} {
  constructor(private readonly useCase: {{ use_case_name }}) {}

  create(aggregateId: string, name: string): { id: string; name: string } {
    const aggregate = this.useCase.execute(new {{ use_case_name }}Command(aggregateId, name));
    return { id: aggregate.aggregateId, name: aggregate.name };
  }
}
