<?php

declare(strict_types=1);

namespace {{ php_namespace }}\Interface\Http;

use {{ php_namespace }}\Application\UseCases\{{ use_case_name }};
use {{ php_namespace }}\Application\UseCases\{{ use_case_name }}Command;

final class {{ controller_name }}
{
    public function __construct(private readonly {{ use_case_name }} $useCase)
    {
    }

    /** @return array{id: string, name: string} */
    public function create(string $aggregateId, string $name): array
    {
        $aggregate = $this->useCase->execute(new {{ use_case_name }}Command($aggregateId, $name));

        return ['id' => $aggregate->aggregateId, 'name' => $aggregate->name()];
    }
}
