import { {{ use_case_name }}, {{ use_case_name }}Command } from "../../application/use_cases/{{ use_case_name }}";

export class {{ controller_name }} {
  constructor(private readonly useCase: {{ use_case_name }}) {}

  create(entityId: string, name: string): { id: string; name: string } {
    const entity = this.useCase.execute(new {{ use_case_name }}Command(entityId, name));
    return { id: entity.entityId, name: entity.name };
  }
}
