from __future__ import annotations

from dataclasses import dataclass, field

from ..entities.{{ entity_name | lower }} import {{ entity_name }}
from ..events.{{ event_name | lower }} import {{ event_name }}
from ..value_objects.{{ value_object_name | lower }} import {{ value_object_name }}


@dataclass
class {{ aggregate_name }}:
    aggregate_id: str
    entity: {{ entity_name }}
    _events: list[{{ event_name }}] = field(
        default_factory=list,
        init=False,
        repr=False,
    )

    @classmethod
    def create(cls, aggregate_id: str, name: str) -> "{{ aggregate_name }}":
        entity = {{ entity_name }}(
            entity_id=aggregate_id,
            name={{ value_object_name }}(name),
        )
        aggregate = cls(aggregate_id=aggregate_id, entity=entity)
        aggregate._events.append({{ event_name }}(aggregate_id=aggregate_id, name=name))
        return aggregate

    @property
    def name(self) -> str:
        return self.entity.name.value

    def pull_events(self) -> tuple[{{ event_name }}, ...]:
        events = tuple(self._events)
        self._events.clear()
        return events
