<?php

declare(strict_types=1);

namespace {{ php_namespace }}\Application\Ports;

use {{ php_namespace }}\Domain\Aggregates\{{ aggregate_name }};

interface {{ repository_name }}
{
    public function save({{ aggregate_name }} $aggregate): void;

    public function get(string $aggregateId): ?{{ aggregate_name }};
}
