import { {{ event_name }} } from "../events/{{ event_name }}";
import { {{ entity_name }}ValidationError } from "../exceptions/{{ entity_name }}ValidationError";

export class {{ entity_name }} {
  private events: {{ event_name }}[] = [];

  private constructor(
    public readonly entityId: string,
    public readonly name: string,
  ) {}

  static create(entityId: string, name: string): {{ entity_name }} {
    if (!entityId) {
      throw new {{ entity_name }}ValidationError("Entity id cannot be empty");
    }

    if (!name) {
      throw new {{ entity_name }}ValidationError("Entity name cannot be empty");
    }

    const entity = new {{ entity_name }}(entityId, name);
    entity.events.push(new {{ event_name }}(entityId, name));
    return entity;
  }

  pullEvents(): readonly {{ event_name }}[] {
    const pulled = [...this.events];
    this.events = [];
    return pulled;
  }
}
