from __future__ import annotations

from . import domain, ports


class {{ command_name }}:
    def __init__(self, aggregate_id: str, name: str) -> None:
        self.aggregate_id = aggregate_id
        self.name = name


class {{ service_name }}:
    def __init__(self, repository: ports.{{ repository_name }}) -> None:
        self._repository = repository

    def handle(self, command: {{ command_name }}) -> domain.{{ aggregate_name }}:
        aggregate = domain.{{ aggregate_name }}.create(command.aggregate_id, command.name)
        self._repository.save(aggregate)
        return aggregate


__all__ = ["{{ command_name }}", "{{ service_name }}"]
