from __future__ import annotations

from typing import Protocol

from . import domain


class {{ repository_name }}(Protocol):
    def save(self, aggregate: domain.{{ aggregate_name }}) -> None:
        raise NotImplementedError

    def get(self, aggregate_id: str) -> domain.{{ aggregate_name }} | None:
        raise NotImplementedError


__all__ = ["{{ repository_name }}"]
