from __future__ import annotations

from . import application, infrastructure


class {{ controller_name }}:
    def __init__(self, service: application.{{ service_name }}) -> None:
        self._service = service

    def create(self, aggregate_id: str, name: str) -> dict[str, str]:
        aggregate = self._service.handle(application.{{ command_name }}(aggregate_id, name))
        return {"id": aggregate.aggregate_id, "name": aggregate.name}


def bootstrap() -> {{ controller_name }}:
    repository = infrastructure.InMemory{{ repository_name }}()
    service = application.{{ service_name }}(repository)
    return {{ controller_name }}(service)


__all__ = ["{{ controller_name }}", "bootstrap"]
