from __future__ import annotations

from ...application.use_cases.{{ use_case_name | lower }} import (
    {{ use_case_name }},
    {{ use_case_name }}Command,
)


class {{ controller_name }}:
    def __init__(self, use_case: {{ use_case_name }}) -> None:
        self._use_case = use_case

    def create(self, entity_id: str, name: str) -> dict[str, str]:
        entity = self._use_case.execute({{ use_case_name }}Command(entity_id, name))
        return {"id": entity.entity_id, "name": entity.name}
