import type { {{ component_name }} } from "{{ library_package }}/{{ component_name }}";

export class {{ leaf_name }} implements {{ component_name }} {
  constructor(
    public readonly key: string,
    private readonly value: string,
  ) {}

  render(): string {
    return this.value;
  }
}
