<?php

declare(strict_types=1);

namespace {{ php_namespace }}\Ports\Inbound;

final class {{ command_name }}
{
    public function __construct(
        public readonly string $aggregateId,
        public readonly string $name,
    ) {
    }
}
