from django.apps import AppConfig


class {{ base_app | replace("_", " ") | title | replace(" ", "") }}Config(AppConfig):
    default_auto_field = "django.db.models.BigAutoField"
    name = "{{ base_app }}"
