import { {{ entity_name }} } from "../../domain/entities/{{ entity_name }}";
import { {{ repository_name }} } from "../ports/{{ repository_name }}";

export class {{ use_case_name }}Command {
  constructor(
    public readonly entityId: string,
    public readonly name: string,
  ) {}
}

export class {{ use_case_name }} {
  constructor(private readonly repository: {{ repository_name }}) {}

  execute(command: {{ use_case_name }}Command): {{ entity_name }} {
    const entity = {{ entity_name }}.create(command.entityId, command.name);
    this.repository.save(entity);
    return entity;
  }
}
