<?php

declare(strict_types=1);

namespace {{ php_namespace }}\Domain\Exceptions;

use InvalidArgumentException;

final class {{ entity_name }}ValidationException extends InvalidArgumentException
{
}
