from __future__ import annotations

from typing import Protocol

from ...domain.models.{{ aggregate_name | lower }} import {{ aggregate_name }}
from .{{ command_name | lower }} import {{ command_name }}


class {{ service_name }}Port(Protocol):
    def handle(self, command: {{ command_name }}) -> {{ aggregate_name }}:
        ...
