<?php

declare(strict_types=1);

namespace {{ php_namespace }}\Application;

use {{ php_namespace }}\Domain\{{ aggregate_name }};
use {{ php_namespace }}\Ports\{{ repository_name }};

final class {{ service_name }}
{
    public function __construct(
        private readonly {{ repository_name }} $repository,
    ) {
    }

    public function handle({{ command_name }} $command): {{ aggregate_name }}
    {
        $aggregate = {{ aggregate_name }}::create($command->id, $command->name);
        $this->repository->save($aggregate);

        return $aggregate;
    }
}
