import { {{ command_name }}, {{ service_name }} } from "./application";
import { InMemory{{ repository_name }} } from "./infrastructure";

export class {{ controller_name }} {
  constructor(private readonly service: {{ service_name }}) {}

  create(aggregateId: string, name: string): { id: string; name: string } {
    const aggregate = this.service.handle(new {{ command_name }}(aggregateId, name));

    return { id: aggregate.aggregateId, name: aggregate.name };
  }
}

export function bootstrap(): {{ controller_name }} {
  const repository = new InMemory{{ repository_name }}();
  const service = new {{ service_name }}(repository);

  return new {{ controller_name }}(service);
}
