<?php

declare(strict_types=1);

namespace {{ php_namespace }}\Domain\Events;

final class {{ event_name }}
{
    public function __construct(
        public readonly string $entityId,
        public readonly string $name,
    ) {
    }
}
