<?php

declare(strict_types=1);

namespace {{ php_namespace }}\Adapters\Inbound;

use {{ php_namespace }}\Domain\Models\{{ aggregate_name }};
use {{ php_namespace }}\Ports\Inbound\{{ command_name }};
use {{ php_namespace }}\Ports\Inbound\{{ service_name }}Port;
use {{ php_namespace }}\Ports\Outbound\{{ repository_name }};

final class {{ service_name }} implements {{ service_name }}Port
{
    public function __construct(private readonly {{ repository_name }} $repository)
    {
    }

    public function handle({{ command_name }} $command): {{ aggregate_name }}
    {
        $aggregate = {{ aggregate_name }}::create($command->aggregateId, $command->name);
        $this->repository->save($aggregate);

        return $aggregate;
    }
}
