<?php

declare(strict_types=1);

namespace {{ usage_namespace }};

use {{ library_namespace }}\{{ composite_name }};

final class {{ factory_name }}
{
    public function build(): {{ composite_name }}
    {
        return new {{ composite_name }}('root', [
            new {{ leaf_name }}('intro', 'Introduction'),
            new {{ leaf_name }}('body', 'Composite content'),
        ]);
    }
}
