from __future__ import annotations

from collections.abc import Iterable

from .component import {{ component_name }}


class {{ composite_name }}({{ component_name }}):
    def __init__(
        self,
        key: str,
        children: Iterable[{{ component_name }}] = (),
    ) -> None:
        self._key = key
        self._children = tuple(children)

    @property
    def key(self) -> str:
        return self._key

    @property
    def children(self) -> tuple[{{ component_name }}, ...]:
        return self._children

    def render(self) -> str:
        return "\n".join(child.render() for child in self.children)
