from __future__ import annotations

from abc import ABC, abstractmethod


class {{ component_name }}(ABC):
    @property
    @abstractmethod
    def key(self) -> str:
        raise NotImplementedError

    @abstractmethod
    def render(self) -> str:
        raise NotImplementedError
